@import url("./shared.css");

.input-select {
  width: 150px;
}

.backlink {
  position: fixed;
  left: 30px;
  top: 20px;
  color: black;
}

.container {
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.lesson__delete {
  text-decoration: underline;
  color: red;
  left: 5px;
  top: 5px;
}

.add-lesson {
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #8ab6f9;
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: bold;
}

body {
  padding: 10% 20%;
}

h4 {
  font-family: "K2N", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 80px;
}

.input_group {
  display: flex;
  justify-content: space-between;
  font-family: "K2N", sans-serif;
  font-size: 24px;
  font-weight: 200px;
}

input {
  width: 150px;
  height: 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 200px;
  padding: 10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  font-size: 20px;
  background: #eeaaeb;
  color: #ffffff;
  font-weight: 200px;
  padding: 0px 10px;

  border-radius: 10px;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #eeaaeb;
  margin-left: 10px;
}

.week {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  background-color: #8ab6f9;
  width: 60px;
  height: 30px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  margin-left: 10px;
}

.toggle::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 26px;
  height: 26px;
  margin: 2px;
  border-radius: 50%;
  transition: 0.3s;
}

#week:checked + .toggle {
  background-color: #9bf3a4;
}

#week:checked + .toggle::before {
  transform: translateX(30px);
}

#week {
  display: none;
}

.schedule {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}

.day {
  background: #fff;
  padding-top: 10px;
  margin: 5px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-weight: 200;
  font-size: 20px;
  height: min-content;
  min-height: 152px;
}

.exam {
  display: flex;
  justify-content: space-between;
}

.course {
  background-color: #fff;
  padding: 10px;
  width: 100%;
  margin: 5px 20px 5px 0px;
  border-radius: 10px;
  font-weight: 200;
  font-size: 20px;
}

.date {
  background-color: #fff;
  padding: 10px;
  margin: 5px 20px 5px 0px;
  border-radius: 10px;
  font-weight: 200;
  font-size: 20px;
}

.exams {
  margin: 50px;
}

.lesson {
  height: 120px;
  margin: 5px 0px 0px 0px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 5px;
  font-size: 12px;
  text-align: left;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}

.lesson__type {
  text-align: right;
}

.lesson__discipline {
  text-wrap: wrap;
  max-height: 25px;
  overflow: hidden;
}

.lesson__time {
  text-align: left;
  font-weight: 500;
}

.red-border {
  border: red 1px solid;
}

.red-border::after {
  content: "Такая группа не существует";
  color: red;
  font-size: 12px;
}
