@import url("../shared/styles/shared.css");
.container {
  display: flex;
}

.sidebar {
  height: 100vh;
  width: 20%;
  padding: 0px 10px;
  background-color: #f1f5fc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
}

.action {
  margin: 10px 20px;
}

.action a {
  color: black;
  font-weight: regular;
}

.current-action {
  font-weight: bold;
}
