<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Кафедры</title>
    <link rel="stylesheet" href="../shared/styles/shared.css" />
    <link rel="stylesheet" href="../shared/styles/popups.css" />
    <link rel="stylesheet" href="../shared/styles/admin.css" />
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="action">
          <a href="./educators.html">Преподаватели</a>
        </div>
        <div class="action">
          <a href="./disciplines.html">Дисциплины</a>
        </div>
        <div class="action current-action">
          <a href="./departments.html">Кафедры</a>
        </div>
        <div class="action">
          <a href="">Группы</a>
        </div>
        <div class="action">
          <a href="">Расписание</a>
        </div>
      </div>
      <div class="content">
        <h1>Кафедры</h1>
        <input type="text" class="search" placeholder="Поиск" oninput="" />
        <div class="departments"></div>
        <button class="add" onclick="showCreateModal()">Добавить</button>
      </div>

      <div class="overlay">
        <div class="popup delete-popup">
          <a href="#" class="closePopup">X</a>
          <p>Вы действительно хотите удалить эту кафедру</p>
          <button>Удалить</button>
        </div>
        <div class="popup add-popup">
          <a href="#" class="closePopup">X</a>
          <h2>Добавить новую кафедру</h2>
          <p>Введите название новой кафедры</p>
          <form>
            <input type="text" placeholder="Название кафедры" />
          </form>
          <button>Создать</button>
        </div>
        <div class="popup edit-popup">
          <a href="#" class="closePopup">X</a>
          <a href="#" class="closePopup">X</a>
          <h2>Редактирование кафедры</h2>
          <form>
            <input type="text" placeholder="Название кафедры" />
          </form>
          <button>Сохранить</button>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="../js/departments.js"></script>
  </body>
</html>
