<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание КНИТУ-КАИ</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="container">
        <h1 class="main-title">Расписание занятий КНИТУ-КАИ</h1>
        <div class = "navigation">
            <div class="card teachers">
                <a href="./students.html">
                    <img src="../imgs/teacher.png" alt="">
                    <p>Расписание преподавателей</p>
                </a>
            </div>
            <div class="card students">
                <a href="./teachers.html">
                    <img src="../imgs/student.png">
                    <p>Расписание студентов</p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>